<!DOCTYPE html>
<html lang="zh">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="我的我">
    <meta name="author" content="Ying Phigow">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <style type="text/css">
        @charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none
        !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}
    </style>
    <!-- PAGE TITLE -->
    <title>编纂中……</title>
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <!-- ALL GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- FONT AWESOME CSS -->
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/linear-fonts.css">
    <!-- EMOJI CSS -->
    <link rel="stylesheet" href="assets/css/jquery.emoji.css"/>
    <!-- PAGE CSS -->
    <link rel="stylesheet" href="assets/css/book-page.css">
    <script src="https://code.jquery.com/jquery-git.js"></script>
    <!--PDF JS
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
    -->
    <style type="text/css">
        body {
            text-align: center;
        }

        .photo {
            position: relative;
        }
        .title{
            position: absolute;
            bottom:20px;
            left:0px;
            text-align: center;
            right:0px;
            font-size:24px;
            font-weight: bold;
            color:#979797;
        }
        .photos {
            margin:auto;
            font-size:0px;
            margin-left:-50px;
            margin-top:-10px;
        }
        .stamp {
            margin:auto;
            font-size:0px;
            margin-left:0px;
            margin-top:-10px;
        }
        .book-name {
            position: absolute;
            z-index: 1;
            top: 520px;
            font-size: 55px;
            font-weight: bold;
            text-align: center;
            width: 100%;
        }

        .author {
           position: absolute;
            z-index: 1;
            top: 520px;
            font-size: 55px;
            font-weight: bold;
            text-align: center;
            width: 100%;     
        }
    </style>
    <!--[if IE]>
</head>
<body ng-app="wxbook">
    <ui-view name="main">
    <!---->
        <div class="wrapper preview" ui-view="preview">
            <div id="page" class="A5-1 finalized" ng-class="{error: vm.book.error,editable: vm.book.editable,finalized: vm.book.finalized}" ng-switch="vm.stateParams.section">
                <div class="pages-container" ng-switch-when="cover" auto-resize="" style="transform: scale(0.644643);">
                    <ul class="pages" id="page_lists">
                        <!--封面页-->
                        <li class="page cover swipeout" book="vm.book" parse-emoji=".author, .title">                                    
                            <div class="book-name">{bookName}</div>
                            <div class="author">{author}</div>
                            <cover book="book" pic="book.cover.pic" size="560" editable="book.editable &amp;&amp; book.cover.editable"
                            class="loaded" style='display:none'>
                                <ng-transclude>
                                    <!---->
                                </ng-transclude>
                            </cover>
                            <img id="cover" src="assets/images/cover/add.jpg" style="top:0; left:0; width:100%; height:100%; position:absolute">
                            <div style="align-text:center; font-size:100px; positon:absolute; top:150px" id="title"></div>

                                        <div class="swipeout-actions-right">
                                            <a href="#" class="swipeout-delete">
                                                Delete
                                            </a>
                                        </div>
                        </li>
                        <!--扉页-->
                        <li class="page first-page" parse-emoji=".author">
                            <img src="assets/images/page/front-page.jpg" style="left: 0px; width:100%; height:100%; position:absolute; top: 0px">
                            <div class="author">
                                <span id="para_author">{author}</span><!-- Parameter_Author -->
                                <span>
                                    &middot; 作品
                                </span>
                            </div>
                            <div class="from" id="para_from"><!-- Parameter_StartTime -->
                                2016.07
                            </div>
                            <div class="to" id="para_to"><!-- Parameter_EndTime -->
                                2016.12
                            </div>
                        </li>
                        <!--版权页-->
                        <li class="page authorization" book="vm.book" parse-emoji="">
                            <p>
                                微信书当前版本编目数据
                            </p>
                            <p>
                                <span id="para_bookName">{bookName}</span><!-- Parameter_bookNamer --> / [我的我]<span id="para_author">{author}</span><!-- Parameter_Author --> 著;
                            </p>
                            <p>
                                我的我&middot;微信书,wodemy.com, 2017.3
                            </p>
                            <p>
                                XINSHU-XXXXX-290450
                            </p>
                            <p>
                                I.①<span id="para_bookName">{bookName}</span><!-- Parameter_bookNamer -->; II. ① <span id="para_author">{author}</span><!-- Parameter_Author --> ; III. ①文学随笔，语录-微信书-中国-现代; IV. ①NO.290450
                            </p>
                            <p>
                                我的我&middot;微信书荣誉出版 (2017)290450号
                            </p>
                            <p>
                                著作权归原作者所有
                            </p>
                            <p>
                                All rights reserved under Wodewo and Author <span id="para_author">{author}</span><!-- Parameter_Author --> . This book may not
                                be reproduced or used in any form or by any means without permission of
                                the author.
                            </p>
                            <p>
                                <b>
                                    <span id="para_bookName">{bookName}</span><!-- Parameter_bookNamer -->
                                </b>
                            </p>
                            <p>
                                [我的我] <span id="para_author">{author}</span><!-- Parameter_Author --> 著
                            </p>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            技　　术
                                        </td>
                                        <td>
                                            我的我
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            发　　行
                                        </td>
                                        <td>
                                            我的我
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            经　　销
                                        </td>
                                        <td>
                                            我的我
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            责任编辑
                                        </td>
                                        <td>
                                            我的我小编
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            装帧设计
                                        </td>
                                        <td>
                                            我的我设计
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            内文制作
                                        </td>
                                        <td>
                                            <span id="para_author">{author}</span><!-- Parameter_Author -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            插　　图
                                        </td>
                                        <td>
                                            <span id="para_author">{author}</span><!-- Parameter_Author -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            开　　本
                                        </td>
                                        <td>
                                            148mm &times; 210mm 1/32
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            字　　数
                                        </td>
                                        <td>
                                            很多
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            版　　次
                                        </td>
                                        <td>
                                            2017年第一版，唯一版
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            定　　价
                                        </td>
                                        <td>
                                            无价
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>
                                本书版权归<span id="para_author">{author}</span><!-- Parameter_Author -->所有，我的我提供代印刷服务，未经<span id="para_author">{author}</span><!-- Parameter_Author -->许可不得转载、复制、翻印，一切因版权、著作权、肖像权、名誉权、姓名权而引起的法律纠纷由本书制作者承担。
                            </p>
                        </li>
                        <!--感谢-->
                        <li class="page acknowledgement collapse ng-hide" ng-class="{collapse: !_.isString(book.acknowledgement)}"
                        ng-show="book.auth === 'edit' &amp;&amp; !book.finalized || book.acknowledgement"
                        ng-switch="!book.finalized &amp;&amp; book.auth === 'edit'" book="vm.book">
                            <!---->
                            <!---->
                            <div ng-switch-when="false">
                                <p class="content" parse-emoji="">
                                </p>
                            </div>
                            <!---->
                            <div class="title" ng-click="book.acknowledgement = ''">
                                <i class="material-icons">
                                    add
                                </i>
                                增加致谢
                            </div>
                        </li>
                        <!--序-->
                        <li class="page preface" ng-class="{collapse: !_.isString(book.preface)}"
                        ng-show="book.auth === 'edit' &amp;&amp; !book.finalized || book.preface"
                        ng-switch="!book.finalized &amp;&amp; book.auth === 'edit'" book="vm.book">
                            <!---->
                            <!---->
                            <img src="assets/images/preface.png" style="left: 270px; position:absolute; top: -10px">
                            <div class="content-container" ng-switch-when="false" parse-emoji="">
                                <p class="content" style="margin-bottom:1.5em">
            人生走过漫长的岁月。
            年轻时如奔腾的雅鲁藏布江，热烈、汹涌，而到了一定年龄，虽然繁花落尽，不再缤纷，却具有了能量，是拥有巨大发电力的长江。岁月带走一些什么，同时赠与我们另外一些。
            一帆风顺还是跌宕起伏，安稳淡泊还是勇闯险滩，在于每个人的选择，正因为这选择不同，人们也有不同的收获。在春天时播下的种子，发芽、开花、结果，给每个人送上的秋天，都理所应当。
            当然也可能发生差错，比如勤奋者空空如也，懒惰者不劳而获，比如兢兢业业却突来横祸，游手好闲却天降横财，逢此变故不要惊慌失措，就算履历表里一无所有，至少你还收获了自我，若干年后回头再看，不必去喃喃自语、涕泪涟涟、懊悔难当。
            经过风浪的折磨，如孤舟穿越峡谷，如猿猴攀上高藤，如飞鸟冲破云霄，你我才能成为远方的自己，这只有一个前提：先去经历岁月的洗礼。

                                </p>
                                <p class="content" style="text-align:right">
                                    我的我 2017年4月13日
                                </p>
                            </div>
                            <!---->
                            <div class="title" ng-click="book.preface = ''">
                                <i class="material-icons">
                                    add
                                </i>
                                增加序言
                            </div>
                        </li>
                        <!--正文-->
                    </ul>

    <a href="pay.html" target="new" class="swipe-out">提交</a>
                </div>
            </div>
        </div>
    </ui-view>
</body>

<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/framework7.min.js"></script>
<script src="/assets/js/jquery-1.10.1.min.js" type="text/javascript" ></script>
<script src="/assets/js/underscore.js" type="text/javascript" ></script>
<script src="/assets/js/jquery.xgallerify.min.js" type="text/javascript"></script>
<!--the js for this plugin-->
<script src="/assets/js/jquery.emoji.min.js"></script>
<script src="/assets/js/book-page.js"></script>
<script type="text/javascript">
    var gallery = $('.photos').gallerify({
        margin:5,
        mode:'default',
        lastRow:'adjust'
    }); 
</script>
<script type="text/template" id="comment">
    <p>
        <span><%=authorName%>：</span><%=content%>
    </p>
</script>

<script type="text/template" id="month_template">
    <li class="page insert default month-<%=month%>" book="vm.book" year="vm.stateParams.year" month="vm.stateParams.month"> 
        <!---->
        <div ng-if="book.style.insertPage!=='simple'"> 
            <img src="assets/images/month/<%=month%>.jpg" style="top: 90px; left: 80px; width: 400px; height: 400px; position: absolute; border-radius: 200px;">
            <div class="date"> <%=year%>/<%=month%> </div> 
            <div class="poem"></div> 
        </div><!----> 
    <!----> 
    </li>
</script>
<script type="text/template" id="page_template">
    <li class="page content row" book="vm.book" page-data="page" parse-emoji=".book-title" ng-repeat="page in vm.book.pages | limitTo: vm.limit track by $index">
        <button title="Close (Esc)" type="button" class="mfp-close" style="display:none; position: absolute;z-index: 1;right: 10px; width:30px; height: 30px; background:url(assets/images/delete.png)"></button>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <text class="date" id="para_date" style="font-size:80px; color:#309;text-decoration: underline;font-style: italic; position:relative; top:15px"><%=date%></text><!--Parameter_Date-->
            <br style="height:100px">
            <text class="time" id="para_time" fill="#fff" style="font-size:18px;position:relative;top:22px"><%=time%></text><!--Parameter_Time-->
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div id="para_img" class="photos xgallerify"><%=img%></div><!--Parameter_Images-->
            <div id="para_content"><%=content%></div><!--Parameter_Content-->
        </div>
        <footer>
            <hr>
            <div class="pagination"><%=no%></div>
            <div class="book-title"><%=bookName%></div>
            <div class="date"><%=yyyymm%></div>
        </footer>
    </li>
</script>
<script type="text/template" id="lonely_page_template">
    <li class="page content row" book="vm.book" page-data="page" parse-emoji=".book-title" ng-repeat="page in vm.book.pages | limitTo: vm.limit track by $index">
        <button title="Close (Esc)" type="button" class="mfp-close" style="display:none; position: absolute;z-index: 1;right: 10px; width:30px; height: 30px; background:url(assets/images/delete.png)"></button>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <text class="date" id="para_date" style="font-size:80px; color:#309;text-decoration: underline;font-style: italic; position:relative; top:15px"><%=date%></text><!--Parameter_Date-->
            <br style="height:100px">
            <text class="time" id="para_time" fill="#fff" style="font-size:18px;position:relative;top:22px"><%=time%></text><!--Parameter_Time-->
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="margin-left:-22px">
            <img id="para_img" class="stamp xgallerify" style="float:left;width:60%;" src="<%=img%>"><span id="stamp_content"><%=content%></span></div>
        </div>
        <footer>
            <hr>
            <div class="pagination"><%=no%></div>
            <div class="book-title"><%=bookName%></div>
            <div class="date"><%=yyyymm%></div>
        </footer>
    </li>
</script>

<script type="text/template" id="images">
    <p>
        <img class="list-img" src=<%=img%> style="width:100%">
    </p>
</script>
<script type="text/template" id="double_images">
    <p class="row">
        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <img class="list-img" src=<%=imgA%> style="width:100%">
        </span>
        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <img class="list-img" src=<%=imgB%> style="width:100%">
        </span>
    </p>
</script>

<script type="text/template" id="image_template">
    <img src=<%=imgA%> style="width:<%=widthA%>%;margin:2px">
    <img src=<%=imgB%> style="width:<%=widthB%>%;margin:2px">
</script>
<script type="text/template" id="gallerify">
        <img class="list-img" src=<%=img%>>
</script>
<script type="text/template" id="list_template">
<li>
    <div class="po-avt-wrap">
       // <!--img class="po-avt data-avt" src="images/0.jpg"-->
    </div>
    <div class="po-hd">
        <p class="po-name"><span class="data-name"><%=authorName%></span></p>
        <div class="post">
            <p><%=content%></p>
            <p><%=img%></p>                
            </p>
        </div>
        <p class="time"><%=time%></p><img class="c-icon" src="wechat/images/c.png">
    </div>
    <div class="r"></div>
    <div class="cmt-wrap">
        <div class="like"><img src="wechat/images/l.png"><%=likes%></div>
        <div class="cmt-list">
            <%=comments%>
        </div>
    </div>
</li>
</script>
<script type="text/javascript">
    
    //可以自定义配置参数
var myApp = new Framework7({
    //materialPageLoadDelay:0,   //延迟（在毫秒）之前的动画加载页。可以增加一点来提高性能
    //materialRipple:'true'       //启用/禁用特有的触摸纹波效应
});

// 我们需要使用自定义DOM类库，让我们将它保存到$$变量：
var $$ = Framework7.$;

</script>

    <script type="text/javascript">
jQuery(document).ready(function() {    
if(window.sessionStorage.getItem("UserCode")){
    console.log(window.sessionStorage);
}else{
    window.location="http://120.77.245.158/login";
}
});
    var topdf =function(){
        var pdf = new jsPDF('p','mm','a5');
        pdf.internal.scaleFactor = 1;
        var options = {
             pagesplit: true
        };

        //$('.pdf-wrapper')
        pdf.addHTML(document.body,options,function() {
            pdf.save('web1111.pdf');
        });
    }
    </script>
</html>